<div class="bs-example" data-example-id="contextual-table">
    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th ng-repeat="(key,value) in dataSource[0]" ng-bind="dictionary[lang][key] ? dictionary[lang][key] : key"></th>
          </tr>
        </thead>   
        <tbody>
          <tr class="active" ng-repeat="row in dataSource">
            <th scope="row" ng-bind="$index + 1"></th>
            <td ng-repeat="(key, value) in row" ng-bind="value" ng-if="key.indexOf('time') == -1"></td>
            <td ng-bind="row.createtime | date: 'yyyy-MM-dd hh:mm:ss'"></td>
            <td ng-bind="row.updatetime | date: 'yyyy-MM-dd hh:mm:ss'"></td>
          </tr>
        </tbody>         
    </table>
</div>